@import "./global/variables.scss";

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__item {
  h3,
  p {
    margin: 0;
    padding: 0;
  }
}

.advantages__item {
  text-align: center;
}

.advantages__item:nth-child(1) {
  margin-bottom: 31px;
}

.advantages__item:nth-child(2),
.advantages__item:nth-child(3),
.advantages__item:nth-child(4) {
  text-align: start;
}

.advantages__item:nth-child(6),
.advantages__item:nth-child(7) {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 284px;
    height: 1px;
    background-color: #D6D6D6;
    left: 18px;
    bottom: 12px;
  }
}


.advantages__item__header {
  width: 320px;
  height: 167.5px;
  background-color: #81B3D2;
  color: #000000;
  padding-top: 43.5px;
  p {
  margin-top: 11px;
}
}

.advantages__item__header p:last-child {
  margin-top: 17px;
}

.advantages__title {
  font-family: "pt-sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages__description {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages-bridge__description {
  font-weight: 400;
}

.advantages__item__more {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
}

.advantahes__item__posts {
  background-color: #eeeeee;
  height: 150px;
  padding: 33px;
  .advantages__title {
    color: #000000;
    margin-bottom: 11px;
  }
  p {
    margin-bottom: 17px;
  }

  &:not(:last-child)::before {
    position: absolute;
    content: "";
    width: 284px;
    height: 1px;
    background-color: #D6D6D6;
  }

  }


.advantahes__item__posts {
  .advantages__description {
    font-family: "pt-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
  }
}

.advantages__image-city,
.advantages__image-bridge {
  display: block;
}

// tablet-version

@media (min-width: $tablet-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 256px auto 256px 256px;
  }

  .advantages__item:nth-child(1) {
    grid-column: 1/4;
    display: flex;
  }

  .advantages__item:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .advantages__item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .advantages__item:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .advantages__item:nth-child(5) {
    grid-column: 1/4;
    grid-row: 3/4;
    display: flex;
  }

  .advantages__item:nth-child(2),
  .advantages__item:nth-child(3),
  .advantages__item:nth-child(4) {
    text-align: center;
}

  .advantages__item:nth-child(6) div {
    padding: 41px 38px;
  }

  .advantages__item:nth-child(7) div,
  .advantages__item:nth-child(8) div {
    padding: 41px 49px;
  }

  .advantages__item:nth-child(6),
  .advantages__item:nth-child(7) {
    &::before {
      display: none;
    }
  }


  .advantages__item__header {
    width: 256px;
    height: 256px;
    box-sizing: border-box;
  }

  .advantages__image-city,
  .advantages__image-bridge {
    height: 256px;
    flex-grow: 1;
  }

  .advantages-bridge {
    order: 2;
  }

  .advantahes__item__posts {
    width: 256px;
    height: 256px;
    box-sizing: border-box;
  }



  .advantages__title {
    font-size: 21px;
  }

  .advantages__item__header {
    padding: 43px 36px;
  }
}

// desktop-version
@media (min-width: $desktop-width) {
  .advantages__list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px 256px 256px 256px;
  }

  .advantahes__item__posts {
    width: 400px;
  }

  .advantages__item__header {
    width: 400px;
  }
}
