.bridge-visit__label {
  position: relative;
}

.bridge-visit__span {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.bridge-visit__control-mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  bottom: -14px;
}
