@import "./global/variables.scss";

.card {
  text-decoration: none;
}

.card__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.card__author {
  color: #333333;
}

.card__button {
  background: transparent;
  fill: rgba(0, 0, 0, 0.3);
}

.card-likes {
  font-weight: 700;
  color: #000000;
}

.card__image {
  display: block;
}

// tablet-version

@media (min-width: $tablet-width) {
  .card__image {
    width: 100%;
  }

  .card__wrapper {
    background-color: #f2f2f2;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .card__wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .card__title,
  .card__author,
  .card-likes {
    color: #ffffff;
  }

  .card__button {
    fill: #ffffff;
  }
}
