.catalog__thoto {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}

.catalog__title {
  background-image: url("../img/main-images/fone-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-width: 320px;
  min-height: 158px;
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
}

.catalog__thoto__container {
  width: 320px;
  margin-bottom: 42px;
}

.catalog__thoto__container__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 37px;
}

.catalog__thoto__container__overview {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 20px;
}

.catalog__video {
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}

.catalog__video__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 20px;
}

.catalog__video__overview {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 38px;
}
