@import "./global/variables.scss";

.contacts {
  border: none;
}

.contacts__name {
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}

.contacts-name-style {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.contacts-data__labale {
  text-transform: uppercase;
  color: #333333;
  align-self: start;
  margin-left: 16px;
}

.contacts-phone {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    right: -103px;
    bottom: -58px;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/form-images/phone.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    right: -83px;
    bottom: -38px;
  }
}

.contacts-data__phone,
.contatcts-data__email {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 58px;
  margin-bottom: 16px;
}

.contatcts-data__email {
  margin-bottom: 59px;
}

.contacts-email {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    right: -117px;
    bottom: -58px;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/form-images/mail.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    right: -98px;
    bottom: -40px;
  }
}

.contacts-data-phone,
.contatcts-data-email {
  border: none;
  background-color: #f2f2f2;

  &::placeholder {
    font-family: "pt-sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.3);
    padding: 16px 0 16px 16px;
  }
}

// mobile-only-version

@media (max-width: $mobile-width-only) {
  .contacts {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 320px;
      background-color: #e5e5e5;
      top: -74px;
    }
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .contacts-name-style {
    font-size: 21px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .contacts__container {
    width: 430px;
    margin-right: 0;
  }

  .contacts-phone {
    &::before {
      right: -253px;
    }

    &::after {
      right: -233px;
    }
  }

  .contacts-email {
    &::before {
      right: -267px;
    }

    &::after {
      right: -248px;
    }
  }
}
