@import "./global/variables.scss";

.copyright__link {
  position: relative;
  font-family: "pt-sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #81b3d2;
  }

  &:hover .copyright__link__image {
    fill: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }

  &:active .copyright__link__image {
    fill: #b3b3b3;
  }
}

.copyright__link__image {
  position: absolute;
  right: -39px;
  top: -8px;
}

// desktop-version

@media (min-width: $desktop-width) {
  .copyright__link {
    padding-top: 1px;

    .copyright__link__image {
      top: -4px;
    }
  }
}
