.copyright__link {
  position: relative;
  font-family: "pt-sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: rgba(129, 179, 210, 1);
  }
  &:hover .copyright__link__image {
    fill: rgba(129, 179, 210, 1);
  }

  &:active {
    color: rgba(179, 179, 179, 1);
  }
  &:active .copyright__link__image {
    fill: rgba(179, 179, 179, 1);
  }
}

.copyright__link__image {
  position: absolute;
  right: -40px;
  top: -6px;
}
