@import "./global/variables.scss";

.emotions {
  border: none;
  width: 280px;
  margin-left: 20px;
  margin-right: 20px;
}

.emotions__name {
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}

.emotions-name-style {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.emotions-description__input {
  width: 100%;
  height: 150px;
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  box-sizing: border-box;
  resize: none;

  &:focus-visible {
    outline: none;
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background: #ffffff;
    border: 4px solid #e5e5e5;
    outline: none;
  }
}

.emotions-description__input::placeholder {
  font-family: "pt-sans", sans-serif;
}

.emotions__label {
  display: block;
  margin-bottom: 56px;
}

// mobile-only-version

@media (max-width: $mobile-width-only) {
  .emotions {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 320px;
      background-color: #e5e5e5;
      top: -74px;
    }
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .emotions {
    width: 648px;
    margin: auto;
  }

  .emotions-name-style {
    font-size: 21px;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &::before {
      top: 12px;
      left: -184px;
    }

    &::after {
      top: 12px;
      right: -184px;
    }
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .emotions {
    width: 768px;
  }

  .emotions-name-style {
    &::before {
      width: 280px;
      left: -354px;
    }

    &::after {
      width: 280px;
      right: -354px;
    }
  }
}
