@import "./global/variables.scss";

.filling-title {
  font-family: "pt-sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.filling-overview {
  text-transform: uppercase;
  color: #333333;
}

// tablet-version

@media (min-width: $tablet-width) {
  .filling-title {
    font-size: 30px;
  }

  .filling-overview {
    line-height: 24px;
  }
}
