@import "./global/variables.scss";

.food {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/main-images/food.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -52px;
    top: -8px;
  }
}

.food__title {
  font-family: "pt-sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: inherit;
}

.food__description {
  text-transform: uppercase;
}

// tablet-version

@media (min-width: $tablet-width) {
  .food::before {
    width: 75px;
    height: 72px;
    background-size: cover;
    top: 60px;
    left: 90px;
  }

  .food__title {
    font-size: 21px;
  }

  .food__description {
    width: 157px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .food::before {
    left: 162px;
  }

  .food__description {
    width: 283px;
  }
}
