.food__title {
  font-family: "pt-sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: inherit;
}

.food__description {
  text-transform: uppercase;
}
