.form-filling__container {
  width: 320px;
  height: 198px;
  text-align: center;
}

.form-filling__title {
  margin: 0;
  margin-top: 38px;
  margin-bottom: 24px;
}

.form-filling__overview {
  margin: 0;
  margin-bottom: 28px;
}

.form__group {
  padding: 0;
  margin: 0;
}

.form__button {
  width: 281px;
  height: 58px;
  margin-left: 20px;
}

.form-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background: #81b3d2;
}

.form__necessarily {
  text-align: end;
  margin-right: 20px;
}

.form-necessarily-style {
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
