@import "./global/variables.scss";

.form__group {
  padding: 0;
  margin: 0;
}

.form__button {
  width: 281px;
  height: 58px;
  margin-left: 19px;
}

.form-button {
  font-family: "pt-sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background: #81b3d2;
  padding-top: 3px;
  padding-right: 2px;
}

.form__necessarily {
  text-align: end;
  margin: 0;
  margin-right: 20px;
  margin-top: 2px;
  margin-bottom: 55px;
}

.form-necessarily-style {
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  font-size: 12px;
}


// tablet-version

@media (min-width: $tablet-width) {
  .form__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__wrapper-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
  }

  .form__button {
    margin: 0;
    width: 324px;
    padding-top: 5px;
    padding-right: 11px;
  }

  .form__necessarily {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    padding-top: 8px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .form__wrapper-button {
    width: 768px;
    margin: auto;
    margin-bottom: 64px;
  }

  .form__wrapper {
    margin-bottom: 7px;
  }

  .form__button {
    width: 384px;
  }
}
