@import "./global/variables.scss";

.housing {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/main-images/house.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -47px;
    top: -7px;
  }
}

.housing__title {
  font-family: "pt-sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: inherit;
}

.housing__description {
  text-transform: uppercase;
  color: #333333;
}

// tablet-version

@media (min-width: $tablet-width) {
  .housing::before {
    width: 75px;
    height: 72px;
    background-size: cover;
    top: 59px;
    left: 90px;
  }

  .housing__title {
    font-size: 21px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .housing::before {
    left: 162px;
  }

  .housing__description {
    width: 282px;
    margin: auto;
  }
}
