@import "./global/variables.scss";

.impression {
  border: none;
}

.impression__name {
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
}

.impressio-name-style {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.impression__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.impression__item {
  margin-bottom: 26px;
  padding-bottom: 10px;
}

.impression__item:last-child {
  margin-bottom: 49px;
}

.impression__input {
  margin-left: 62px;
}

.impression__span {
  margin-left: 62px;
}

// mobile-only-version

@media (max-width: $mobile-width-only) {
  .impression {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 320px;
      background-color: #e5e5e5;
      top: -81px;
    }
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .impression__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(238px, 280px));
    gap: 1px 16px;
    margin-left: 36px;
    margin-bottom: -1px;
  }

  .impressio-name-style {
    font-size: 21px;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &::before {
      top: 11px;
      left: -189px;
    }

    &::after {
      top: 11px;
      right: -189px;
    }
  }

  .impression__name {
    margin-bottom: 37px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .impression__list {
    margin: 0;
    margin-left: 53px;
    margin-bottom: 25px;
    column-gap: 28px;
  }

  .impressio-name-style {
    &::before {
      width: 280px;
      left: -344px;
    }

    &::after {
      width: 280px;
      right: -344px;
    }
  }

  .impression__name {
    margin-bottom: 55px;
  }
}

