@import "./global/variables.scss";

.main-nav {
  position: absolute;
  top: 0;
  right: 0;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}




// mobile-only-version

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list {
    display: none;
  }


}

.main-nav--closed {
  .main-header__toggle--opened {
    display: block;
  }

  .main-header__toggle--closed {
    display: none;
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    width: 768px;
  }

  .main-nav__list {
    display: flex;
    justify-content: space-between;
  }

  .main-item {
    width: 153px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .main-nav {
    display: block;
    width: 1200px;
  }
}
