.main-container {

}

.main-container__title {
  background-image: url("/1979299-sedona-25/source/img/main-images/fone-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: tomato;
  min-width: 320px;
  min-height: 389px;
}
