@import "./global/variables.scss";

.main-header {
  position: relative;
  height: 56px;
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  text-align: center;
  z-index: 1;
}

.main-header__toggle {
  position: absolute;
  right: 21px;
  top: 17px;
  background: transparent;
  fill: rgba(129, 179, 210, 1);

  svg:hover {
    opacity: 0.6;
  }

  svg:active {
    opacity: 0.3;
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .main-header__toggle {
    display: none;
  }
}
