.main-container {
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
}

.main-container__title {
  background-image: url("/1979299-sedona-25/source/img/main-images/fone-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #0000ff;
  color: #000000;
  min-width: 320px;
  min-height: 389px;
}

.main-container__stats {
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 16px;

  .main-container__stats-intro {
    margin-top: 35px;
  }
}
