@import "./global/variables.scss";

.main-form {
  background-color: #ffffff;
  color: #000000;
  margin: 0 auto;
}

.main-form__title {
  position: relative;
  background-color: #000000;
  color: #ffffff;
  background-image: url("../img/main-images/fone-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 50% -220px;
  min-width: 320px;
  min-height: 158px;
  text-align: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-images/fone-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.main-form__image-decoration {
  width: 550px;
  position: absolute;
  left: -115px;
  top: 102px;
}

.main-form-filling__container {
  width: 320px;
  text-align: center;
}

.main-form__image {
  margin-top: 52px;
}

.main-form-filling__title {
  margin: 0;
  margin-top: 38px;
  margin-bottom: 24px;
}

.main-form-filling__overview {
  margin: 0;
  margin-bottom: 53px;
}

// tablet-version

@media (min-width: $tablet-width) {
  .main-form-filling__form {
    width: 648px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .main-form-filling__container {
    margin: auto;
    width: 458px;
  }

  .main-form__title {
    background-color: #000000;
    color: #ffffff;
    background-image: url("../img/main-images/fone-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% -220px;
    min-width: 768px;
    min-height: 290px;
    text-align: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-images/fone-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .main-form__image {
    margin-top: 95px;
    width: 457px;
    height: 77px;
  }

  .main-form__image-decoration {
    width: 1200px;
    position: absolute;
    left: -215px;
    top: 234px;
  }

  .main-form-filling__title {
    margin-top: 64px;
    margin-bottom: 20px;
  }

  .main-form-filling__overview {
    margin-bottom: 102px;
  }
}
// desktop-version

@media (min-width: $desktop-width) {
  .main-form-filling__form {
    width: 960px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .main-form__title {
    background-color: #000000;
    color: #ffffff;
    background-image: url("../img/main-images/fone-desktop.jpg");
    background-repeat: no-repeat;
    background-position: 50% -220px;
    min-width: 1200px;
    min-height: 300px;
    text-align: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-images/fone-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }

  .main-form__image {
    margin-top: 101px;
    width: 460px;
    height: 80px;
  }

  .main-form__image-decoration {
    width: 1202px;
    left: -1px;
    top: 244px;
  }
}
