@import "./global/variables.scss";

.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 320px;
}

// mobile-only-version

@media (max-width: $mobile-width-only) {
  .main-nav--nojs {
    .site-list {
      position: static;
    }

    .main-header__toggle {
      display: none;
    }
  }

  .main-nav--closed {
    .site-list {
      display: none;
    }
  }

  .main-nav--opened {
    .site-list {
      display: block;
    }

    .main-header__toggle::before,
    .main-header__toggle::after {
      content: "";
      position: absolute;
      right: -2px;
      top: 9px;
      width: 27px;
      height: 4px;
      background-color: #ffffff;
      z-index: 4;
    }

    .main-header__toggle::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    .main-header__toggle::after {
      transform: rotate(-45deg);
      box-shadow: none;
    }
  }

  .main-header__toggle {
    &:hover::after,
    &:hover::before {
      background-color: rgba(250, 250, 250, 0.6);
    }

    &:active::after,
    &:active::before {
      background-color: rgba(250, 250, 250, 0.3);
    }
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .main-nav {
    display: block;
    width: 768px;
  }

  .main-nav__list {
    display: grid;
    grid-template-columns: repeat(5, 153px);
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .main-nav {
    display: block;
    width: 1200px;
  }

  .main-nav__list {
    grid-template-columns: repeat(5, 240px);
  }
}
