.main-nav {
  width: 320px;
  display: block;
  position: absolute;
}

// .main-nav--close {
//   display: none;
// }

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

// tablet-version

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    width: 768px;
  }
}
