@import "./global/variables.scss";

.main-footer {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.main-footer__link {
  margin-top: 52.5px;
  margin-bottom: 33.5px;
  display: block;
  font-family: "pt-sans", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.main-footer__list {
  display: grid;
  padding: 0;
  margin: 0;
  margin-bottom: 70px;
  max-width: 156px;
  list-style-type: none;
  grid-template-columns: repeat(3, 48px);
  gap: 6px;
  margin-left: 70px;
}

.main-footer__copyright {
  margin: 0 auto;
  margin-bottom: 29px;
  width: 156px;
  margin-left: 64px;
}

// tablet-version

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 36px 60px 36px 45px;
    margin-top: 64px;
  }

  .main-footer__link,
  .main-footer__list,
  .main-footer__copyright {
    margin: 0;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    margin-left: 104px;
    margin-right: 120px;
  }
}
