@import "./global/variables.scss";

.modal-happened {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal-happened--close {
  display: none;
}

.modal-happened__container {
  margin: auto;
  padding: 40px 0 0 0;
  margin-top: 152px;
}

.modal-happened__container--auth {
  width: 320px;
  background-color: #ffffff;
}

.modal-happened__container__content {
  width: 237px;
  margin: 0 auto;
  margin-bottom: 52px;
}

.modal-happened__container__title {
  text-align: center;
  margin: 0;
  margin-bottom: 24px;
}

.modal-happened-container-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.modal-happened__container__description {
  margin: 0;
}

.modal-happened-container-description {
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.modal-happened__container__wrapper {
  width: 320px;
  height: 98px;
  background-color: #f2f2f2;
}

.modal-happened__container__button {
  width: 280px;
  height: 58px;
  margin-left: 20px;
  margin-top: 20px;
}

.modal-happened-container-button {
  font-family: "pt-sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background: #81b3d2;
  padding-top: 4px;
}

// tablet-version

@media (min-width: $tablet-width) {
  .modal-happened__container {
    margin-top: 162px;
    width: 640px;
    padding-top: 52px;
  }

  .modal-happened__container__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 640px;
    height: 146px;
  }

  .modal-happened__container__button {
    width: 456px;
    margin: 0;
  }

  .modal-happened-container-button {
    font-size: 21px;
    padding-top: 8px;
  }

  .modal-happened__container__content {
    width: 410px;
  }

  .modal-happened__container__title {
    margin-bottom: 28px;
  }

  .modal-happened-container-title {
    font-size: 30px;
  }

  .modal-happened__container__description {
    width: 412px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .modal-happened__container {
    margin-top: 145px;
  }
}
