@import "./global/variables.scss";

.more__item:first-child {
  margin-bottom: 23px;
}

.more__item:nth-child(2) {
  margin-left: 65px;
  margin-bottom: 31px;

  .more__item__title {
    margin-bottom: 16px;
    margin-left: 0;
  }

  .more__item__description {
    width: 251px;
    margin-left: 0;
  }
}

.more__item:nth-child(3) {
  margin-left: 70px;
  margin-bottom: 30px;

  .more__item__title {
    margin-bottom: 16px;
    margin-left: 0;
  }
}

.more__item:nth-child(4) {
  margin-left: 62px;
  margin-bottom: 52px;

  .more__item__title {
    margin-bottom: 16px;
    margin-left: 0;
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .more__item:nth-child(2),
  .more__item:nth-child(3),
  .more__item:nth-child(4) {
    margin: 0;
    padding: 153px 36px 59px;

    .more__item__title {
      margin-bottom: 21px;
    }
  }

  .more__item:nth-child(2) .more__item__description {
    width: 156px;
    margin: auto;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .more__item:nth-child(2),
  .more__item:nth-child(3),
  .more__item:nth-child(4) {
    padding-bottom: 80px;
  }
}
