@import "./global/variables.scss";

.order {
  margin: 0 auto;
}

.order__list {
  display: block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #ffffff;
  color: #000000;
  text-align: center;

  p {
    margin: 0;
  }

  .order__item__link {
    position: relative;
    margin-bottom: 49px;
    display: block;
    padding-top: 16px;
    width: 284px;
    height: 42px;
  }
}

.order__item__wrapper-map {
  position: relative;
  height: 350px;

  &::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 50px;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background-color: #81b3d3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.order__item__wrapper-map__map {
  width: 100%;
  height: 100%;
}

.order__item {
  margin: 0 auto;
  padding-top: 38px;
  padding-left: 29px;
  padding-right: 29px;

  .order__item__interesting {
    font-family: "pt-sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .order__item__description {
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 32px;
  }
}

.order__item__map {
  display: block;
}

// mobile-only-version

@media (max-width: $mobile-width-only) {
  .order__item__description br {
    display: none;
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .order__item {
    width: 458px;
    padding: 0;

    .order__item__interesting {
      font-size: 30px;
    }
  }

  .order__list {
    padding-top: 61px;

    .order__item__link {
      width: 458px;
    }
  }

  .order__item__map {
    width: 100%;
  }
}

