@import "./global/variables.scss";

.page {
  overflow-x: hidden;
}

.page__body {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  font-family: "pt-sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  overflow-x: hidden;
}

// tablet-version

@media (min-width: $tablet-width) {
  .page__body {
    width: 768px;
  }
}

// desktop-version
@media (min-width: $desktop-width) {
  .page {
    width: 1280px;
    margin: auto;
  }

  .page__body {
    width: 1200px;
  }
}
