.rocks__label {
  position: relative;
}

.rocks__span {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.rocks__input[type="checkbox"]:checked + .rocks__control-mark::before {
  position: absolute;
  content: "";
  background-image: url("../img/form-images/tick.svg");
  left: 12px;
  bottom: 15px;
  width: 22px;
  height: 16px;
}

.rocks__control-mark {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  bottom: -14px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.rocks__input[type="checkbox"]:checked:active + .rocks__control-mark::before {
  background-image: url("../img/form-images/tick-active.svg");
}

.rocks__input[type="checkbox"]:focus + .rocks__control-mark {
  background-color: #e5e5e5;
}
