.search-link {
  width: 284px;
  height: 42px;
  background-color: #81B3D2;
  font-family: "pt-sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 auto;
  color: #ffffff;
}
