@import "./global/variables.scss";

.site-list__item {
  position: relative;
  display: block;
  width: 320px;
  height: 55px;
  padding-top: 17px;
}

.site-list__item-index {
  background-color: #81b3d2;
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  box-sizing: border-box;
}

.site-list__item-catalog {
  background-color: #81b3d2;
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.site-list__item-form {
  background-color: #81b3d2;
  text-align: center;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.site-list__item-academy {
  background-color: #81b3d2;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.site-list__link {
  margin-top: 17px;
}

.site-list-link {
  font-family: "pt-sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.site-list__button {
  &::before {
    position: absolute;
    background-image: url("../img/header-images/exit.svg");
    background-repeat: no-repeat;
    content: "";
    width: 22px;
    height: 22px;
    right: 19px;
    top: 17px;
  }
}

// table-version

@media (min-width: $tablet-width) {
  .site-list__button::before {
    display: none;
  }
}
