@import "./global/variables.scss";

.social__link--vkontakte {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    left: -12px;
    top: -12px;
    background-color: #81b3d2;
  }

  &:hover::before,
  &:active::before {
    background-color: #669ec0;
  }

  &::after {
    position: absolute;
    background-image: url("../img/footer-images/vkontakte.svg");
    content: "";
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.social__link--telegram {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    left: -12px;
    top: -12px;
    background-color: #81b3d2;
  }

  &:hover::before,
  &:active::before {
    background-color: #669ec0;
  }

  &::after {
    position: absolute;
    background-image: url("../img/footer-images/telegram.svg");
    content: "";
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.social__link--youtube {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    left: -12px;
    top: -12px;
    background-color: #81b3d2;
  }

  &:hover::before,
  &:active::before {
    background-color: #669ec0;
  }

  &::after {
    position: absolute;
    background-image: url("../img/footer-images/youtube.svg");
    content: "";
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
  }

  &:active::after {
    opacity: 0.3;
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .social__link--vkontakte,
  .social__link--telegram,
  .social__link--youtube {
    &::before {
      left: -9px;
      top: -13px;
    }

    &::after {
      left: 3px;
    }
  }
}
