@import "./global/variables.scss";

.souvenirs {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/main-images/souvenirs.svg");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    left: -50px;
    top: -2px;
  }
}

.souvenirs__title {
  font-family: "pt-sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: inherit;
}

.souvenirs__description {
  text-transform: uppercase;
  br {
    display: none;
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .souvenirs::before {
    width: 75px;
    height: 72px;
    background-size: cover;
    top: 60px;
    left: 90px;
  }

  .souvenirs__title {
    font-size: 21px;
  }

  .souvenirs__description {
    width: 195px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .souvenirs::before {
    left: 162px;
  }

  .souvenirs__description {
    width: 220px;
     br {
      display: inline;
    }
  }
}
