.thoto__item {
  margin-bottom: 50px;
}

.thoto__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.thoto__overview {
  text-transform: uppercase;
  color: #333333;
}

.thoto__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.thoto__link__title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
}

.thoto__link__author {
  margin: 0;
  margin-bottom: 11px;
}

.thoto__number-likes {
  margin-left: 12px;
}
