@import "./global/variables.scss";

.thoto__item {
  margin-bottom: 50px;
}

.thoto__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.thoto__overview {
  text-transform: uppercase;
  color: #333333;
}

.thoto__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.thoto__link__title {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 5px;
}

.thoto__link__author {
  margin: 0;
  margin-bottom: 11px;
}

.thoto__number-likes {
  margin-left: 12px;
}

// tablet-version

@media (min-width: $tablet-width) {
  .thoto__list {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-auto-rows: 480px 352px 352px;
    margin-bottom: 58px;
  }

  .thoto__item:first-child {
    grid-column: 1 / 3;

    .card__image {
      height: 85%;
    }
  }

  .thoto__item {
    margin: 0;
  }

  .thoto__link__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .thoto__title {
    font-size: 30px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .thoto__list {
    grid-template-columns: 400px 400px 400px;
    grid-auto-rows: 400px 267px 267px;
    position: relative;
    margin-bottom: 62px;
  }

  .thoto__link__wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;
    top: 208px;
  }

  .thoto__item:first-child {
    grid-column: 1 / 4;

    .card__image {
      height: 100%;
    }

    .thoto__link__wrapper {
      max-height: 80px;
      top: 327px;
    }
  }

  .thoto__item {
    position: relative;
  }


}
