@import "./global/variables.scss";

.title-site__image {
  margin: auto;
  display: block;
  padding-top: 90px;
}

.title-site__image-decoration {
  width: 1200px;
  position: absolute;
  left: -441px;
  top: 332px;
}

// tablet-version

@media (min-width: $tablet-width) {
  .title-site__image {
    width: 461px;
    padding-top: 77px;
  }

  .title-site__image-decoration {
    width: 1200px;
    position: absolute;
    left: -215px;
    top: 462px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .title-site__image {
    width: 459px;
    padding-top: 78px;
  }

  .title-site__image-decoration {
    width: 1202px;
    left: -1px;
    top: 461px;
  }
}
