@import "./global/variables.scss";

.title-site__image {
  margin: auto;
  display: block;
  padding-top: 90px;
}

.title-site__image-decoration {
  position: absolute;
  fill: #ffffff;
  bottom: 0;
  right: 0;
}

.title-site__image-decoration-duble {
  position: absolute;
  fill: #ffffff;
  bottom: 0;
  left: 0;
  transform: scaleX(-1);
}

// tablet-version

@media (min-width: $tablet-width) {
  .title-site__image {
    width: 461px;
  }

  .title-site__image-decoration {
    width: 768px;
    right: -227px;
    margin-bottom: -1px;
  }

  .title-site__image-decoration-duble {
    left: -227px;
    width: 100%;
    bottom: -1px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .title-site__image {
    width: 459px;
  }

  .title-site__image-decoration {
    right: -8px;
  }

  .title-site__image-decoration-duble {
    left: -440px;
    width: 100%;
  }
}
