@import "./global/variables.scss";

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.video__overview {
  text-transform: uppercase;
  color: #333333;
}

// tablet-version

@media (min-width: $tablet-width) {
  .video__image {
    width: 100%;
  }
}
