@import "./global/variables.scss";

.visit {
  border: none;
}

.visit__name {
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
}

.visit-name-style {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.visit__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 20px;
  margin-right: 20px;
}

.visit__item {
  margin-bottom: 26px;
  padding-bottom: 10px;
}

.visit__item:last-child {
  margin-bottom: 49px;
}

.visit__span {
  margin-left: 62px;
}

// mobile-only-version

@media (max-width: $mobile-width-only) {
  .visit {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 320px;
      background-color: #e5e5e5;
      top: -107px;
    }
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .visit__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 224px));
    margin-left: 84px;
    column-gap: 32px;
    row-gap: 1px;
  }

  .visit__name {
    margin-bottom: 38px;
  }

  .visit-name-style {
    font-size: 21px;
    width: 308px;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
    }

    &::before {
      top: 25px;
      left: -169px;
    }

    &::after {
      top: 25px;
      right: -169px;
    }
  }

  .visit__item:last-child {
    margin-bottom: 42px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .visit__list {
    grid-template-columns: repeat(auto-fill, minmax(153px, 184px));
    margin-left: 45px;
    margin-bottom: 45px;
    column-gap: 51px;
  }

  .visit__item:last-child {
    .visit__span {
      margin-left: 44px;
    }

    .rocks__control-mark {
      left: -20px;
    }
  }

  .visit-name-style {
    &::before {
      width: 280px;
      left: -330px;
    }

    &::after {
      width: 280px;
      right: -330px;
    }
  }

  .visit__name {
    margin-bottom: 69px;
  }
}

