@import "./global/variables.scss";

.yourself {
  border: none;
}

.yourself__name {
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}

.yourself-name-style {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.yourself__container {
  display: flex;
  flex-direction: column;
  width: 280px;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.yourself-data__label {
  text-transform: uppercase;
  color: #333333;
  align-self: start;
  margin-left: 16px;
}

.yourself-data__name,
.yourself-data__surname,
.yourself-data__patronymic {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 58px;
  margin-bottom: 16px;
  padding-left: 16px;
  box-sizing: border-box;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background: #ffffff;
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }

  &:focus-visible {
    outline: 4px solid #e5e5e5;
    outline-offset: -4px;
  }
}

.yourself-data__patronymic {
  margin-bottom: 64px;
}

.yourself-data-name,
.yourself-data-surname,
.yourself-data-patronymic {
  border: none;
  background-color: #f2f2f2;
  font-family: "pt-sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  &::placeholder {
    font-family: "pt-sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
  }
}

// mobile-only-version

@media (max-width: $mobile-width-only) {
  .yourself {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      width: 320px;
      background-color: #e5e5e5;
      top: -71px;
    }
  }
}

// tablet-version

@media (min-width: $tablet-width) {
  .yourself-name-style {
    font-size: 21px;
  }

  .yourself__container {
    position: relative;
    margin-left: 0;
    margin-right: 43px;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 338px;
      background-color: #dbdbdb;
      right: -44px;
      top: -54px;
    }
  }

  .yourself__name {
    margin-bottom: 28px;
  }
}

// desktop-version

@media (min-width: $desktop-width) {
  .yourself__container {
    width: 430px;
    margin-left: 0;
  }

  .yourself__container::before {
    right: -64px;
  }

  .yourself__name {
    margin-left: 11px;
  }
}
